html, body, header, footer, .row{
    margin: 0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none;
}
body{
    font-family: 'vintage_strapsregular';
    background: #fe8c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    letter-spacing: 1px;
    position: relative;
}

.brand_section, .contact_section, .modal_content, .modal_login, .log_reg, .top_header, .navgation_section, .navgation_section ul,.late_new, .carousal_section, .new_items_section{
    float: left;
    width: 100%;
}
.brand_section h1{
    font-size: 42px;
    font-family: 'vintage_strapsbold';
}
.log_reg{
    padding-top: 32px;
    padding-bottom: 20px;
    text-align: right
}
button{
    border-radius: 0;
    border:none;
    height: 30px;
    line-height: 30px;
    width: 100px;
    background: #fff;
    color: #3B3D40;
    text-transform: uppercase;
    font-size: 24px;
}
button:hover{
    box-shadow: 0 0 7px #fff;
}
button.reg_btn{
    background: #e00;
    color: #fff;
}
.navgation_section{
    background: #eee;
    padding: 10px 0;
    color: #3B3D40;
    font-family: 'vintage_strapsbold';
}
.navgation_section ul{
    display: block;
    margin-bottom: 0;
}
.navgation_section ul li{
    display: inline-block;
    padding: 0 50px;
}
.navgation_section ul li a{
    cursor: pointer;
    font-size: 20px;
    color: #3B3D40;
}
.navgation_section ul li a:hover{
    text-shadow: 0 0 7px #fe8c00;
    text-decoration: none;
}
.carousal_section{
    margin-top: 20px;
}
.carousel-control.right, .carousel-control.left{
    background: transparent !important;
}
.late_new{
    text-align: center;
    margin: 20px 0;
    border: 1px solid #fff;
    padding: 40px;
}
.late_new img{
    height: 50px;
    width: 50px;
}
footer{
    background: #3B3D40;
}
.contact_section{
    text-align: left;
}
.contact_section img{
    margin-top: 10px;
    margin: 10px;
    cursor: pointer;
    float: right;
    height: 30px;
    width: 30px;
}
.modal_login{
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    /*background: rgba(59, 61, 64, 0.65);*/
}
.modal_body{
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    color: #3B3D40;
    overflow: auto;

}
.modal_head{
    font-size: 20px;
    font-family: 'vintage_strapsbold';
    padding-bottom: 10px;
    border-bottom: 3px solid #fe8c00;
}
.modal_content{

}
.fr_one{
    margin-top: 20px;
}
.form-group button{
    border: 1px solid #e00;
    display: inline-block;
    width: 100%;
}
.pad_no{
    padding:  5px;
}
.sub_sec{
    text-align: right;
}
input{
    border-radius: 0 !important;
}